.shop-container {
    display: flex;
}
.produdcts-names{
    width: 75%;
    border-right: 1px solid rgb(204, 196, 196);
    margin-left: 25px;
    margin-right: 10px;
    padding-right: 10px;
}
.products-card {
    width: 20%;
    margin-left: 15px;
    
}