.App {
  text-align: center;
}
.header{
  text-align: center;
  margin-top:  20px;
}
.header img {
  height: 80px;
}
.header nav {
  background-color: black;
  line-height: 50px;
}
.header nav a {
  text-decoration: none;
  color : white;
  margin-right: 20px;
  padding: 8px;
}
.header nav a:hover {
  background-color:  rgb(126, 121, 121);
  border-radius:  3px;  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
